  #navbar {
      overflow: hidden;
      background-color: #90caf9;
      position: fixed;
      top: 0;
      width: 100%;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  
  #contents {
      padding: 60px 15px 0 15px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      row-gap: 1em;
      column-gap: 1em;
  }